---
name: Requirements Validation

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  validate-requirements:
    name: Validate Requirements Schema
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Validate requirements
        uses: ./.github/actions/validate-requirements
        with:
          schema-path: documentation/tools/requirement.schema.json
          requirements-dir: documentation/requirements
